* {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    max-width: 80%;
    min-width: 960px;
    margin: 0 auto;
    height: 90vh;
    min-height: 800px;
    position: relative;
    top: 0;
    bottom: 100px; 
}

.main {
    width: 100%;
    height: 80%;
    margin-bottom: 1px;
    /* border: 2px solid green;  */
    background-image: url('../images/your_verse_hero.jpg');
    background-position: bottom;
    background-size: cover;
}

.nav-div {
    border: 1px solid rgb(146, 44, 95);
}

nav {
   border: 1px solid rgba(0, 0, 0, 0.137);
   border-radius: 5px;
   width: 80%;
   margin: 100px auto;
   display: table;
   table-layout: fixed;
   /* https://en.wikipedia.org/wiki/Mach_bands */
   background: linear-gradient(
                rgb(110, 110, 110),
                rgb(110, 110, 110) 10%,
                rgb(135, 135, 135), 
                rgb(135, 135, 135) 50%,
                rgb(100, 100, 100),
                rgb(100, 100, 100) 90%,
                rgb(83, 83, 83));
}

ul {
    display: table-row;
    /* width: 100%; */
}

li {
    display: table-cell;
    /* width: 100%; */
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

li {
    border-right: 1px solid black;
}

li:last-child {
    border: none;
}

input {
    /* padding: 2px 4px; */
    width: 85%;
    height: 1.2em;
    border-radius: 8px;
    background: rgba(255,255, 255, 0.3);
}

h1, h2, h3 {
    text-align: center;
    color: white;
}

.teasers {
    width: 100%;
    /* position: absolute;
    bottom: 0; */
    /* height: 24%; */
    /* background: tomato; */
}

.teasers div {
    display: inline-block;
    /* vertical-align: bottom; */
    width: 25%;
    /* height: 100%; */
}

.teasers img {
    width: 100%;
    height: auto;
    /* position: relative;
    bottom: 0; */
}
