body, div, nav, ul, li, a, i, form, label, 
input, img, footer, p, span
{
    border: 0;
    margin: 0;
    padding: 0;
}

/*The linter forced me to replace the following universal 
selector with the above. Also removed h1, h2, h3 from the
above reset. :(*/
/* * {
    border: 0;
    margin: 0;
    padding: 0;
} */

.container {
    bottom: 100px; 
    margin: 0 auto;
    max-width: 80%;
    min-width: 960px;
    position: relative;
    top: 0;
}

.main {
    background-image: url('../images/your_verse_hero.jpg');
    background-position: bottom;
    background-size: cover;
    height: 80%;
    margin-bottom: 1px;
    width: 100%;
}

/* When I remove this border, the layout changes */
.nav-div {
    border: 1px solid rgb(146, 44, 95);
    border: 1px solid rgba(146, 44, 95, 0);
}

nav {
   /* https://en.wikipedia.org/wiki/Mach_bands */
   background: linear-gradient(
        rgb(110, 110, 110),
        rgb(110, 110, 110) 10%,
        rgb(135, 135, 135), 
        rgb(135, 135, 135) 50%,
        rgb(100, 100, 100),
        rgb(100, 100, 100) 90%,
        rgb(83, 83, 83));
    border-radius: 5px;
    display: table;
    margin: 100px auto;
    table-layout: fixed;
    width: 80%;
}

.nav-div a {
    color: white;
    text-decoration: none;
}

.nav-div > a:last-child :hover {
    text-decoration: underline;
}

ul {
    display: table-row;
}

li {
    border-right: 0.5px solid black;
    display: table-cell;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}

li:last-child {
    border: none;
}

nav li:hover {
    background: linear-gradient(
        rgb(50, 50, 50),
        rgb(50, 50, 50) 10%,
        rgb(80, 80, 80), 
        rgb(80, 80, 80) 50%,
        rgb(100, 100, 100),
        rgb(100, 100, 100) 90%,
        rgb(40, 40, 40));
}

input {
    background: rgb(255,255, 255);
    background: rgba(255,255, 255, 0.3);
    border-radius: 8px;
    height: 1.2em;
    width: 84%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    font-weight: 200;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.2em;
    font-weight: 200;
    margin: 30px auto;
    text-align: center;
    width: 65%;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    font-weight: 200;
    margin-bottom: 150px;
    text-align: center;
}

.teasers {
    width: 100%;
}

.teasers div {
    display: inline-block;
    width: 25%;
}

.teasers img {
    height: auto;
    width: 100%;
}

footer {
    color: #888;
    font-size: 0.7em;
    margin: 25px auto;
    width: 60%;
}

footer div {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.copy {
    display: inline-block;
    width: 45%;
}

.legal {
    display: inline-block;
    width: 30%;
}

footer p {
    margin-bottom: 20px;
}

footer li {
    padding: 0 5px; 
}

footer a{
    color: rgb(14, 131, 199);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
